extends ../static-pages/layout-empty
block content
  .auth-main2.particles_js
    .auth_div.vivify.fadeInTop
      .card
        .body
          form.form-auth-small(novalidate data-parsley-validate onsubmit="formValitdate(this);return false" style="width: 350px;")
            h4(style="text-align: center;margin-bottom:10px")=title
            .form-group
              input#signin-text.form-control.round(type='text'  placeholder='Kullanıcı Adı' required ajax-key="l"  name='kullanici_adi')
            .form-group
              input#signin-password.form-control.round(type='password'  placeholder='Parola' required ajax-key="l" name='kullanici_parola')

            button.btn.btn-primary.btn-round.btn-block(type='submit') Giriş
            button.btn.btn-primary.btn-round.btn-block(onclick="location.href='register'") Kayıt Ol
          .pattern
            span.red
            span.indigo
            span.blue
            span.green
            span.orange
    #particles-js
      canvas.particles-js-canvas-el(width='1920' height='612' style='width: 100%; height: 100%;')
block javascript 
  script.
    function formValitdate(e){
        var form = $(e);
        form.parsley().validate();
        console.log(form.parsley().isValid())
        if(form.parsley().isValid()){
            Dynajax( 'login', 'l', ()=>{toLink("/web/dashboard")} )
        }
    }