extends ../static-pages/layout
block content
  div(id="kullan覺c覺lar"  data=data.kullan覺c覺lar)
  .block-header
    .row.clearfix
      .col-md-6.col-sm-12
        h1=title
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              |  BTS
            li.breadcrumb-item.active(aria-current='page')=title
  .row.clearfix
    .col-lg-12.col-md-12
      .card  
        #map   
block javascript
  link(rel='stylesheet' href='https://unpkg.com/leaflet/dist/leaflet.css')  
  script(src='https://unpkg.com/leaflet/dist/leaflet.js')    
  script(src='/scripts/pages/map.js')