extends layout 
block content
  .auth-main2.particles_js
    .auth_div.vivify.fadeInTop.mt-3
      .card
        .body
          .container
            .mb-3
              p.text-right.lead Abonelik Kayıt İşlemleri
            hr
          form.form-auth-small(novalidate data-parsley-validate onsubmit="formValitdate(this);return false")
            .ml-3   
              include ../components/inputGen
              .row 
                .col-md-6
                  .fancy-checkbox
                    label
                      input(type='checkbox')
                      span Mesafeli Satış Sözleşmesini onaylıyorum.
                  br    
                  .fancy-checkbox
                    label
                      input(type='checkbox')
                      span İptal ve İade Koşullarını okudum.
                .col-md-6
                  .fancy-checkbox
                    label
                      input(type='checkbox')
                      span Kullanım Koşulları ve Üyelik Sözleşmesini onaylıyorum.
                  br    
                  .fancy-checkbox
                    label
                      input(type='checkbox')
                      span Gizlilik ve Güvenlik Politikasını okudum.
            .container
              hr
              .mt-3
                h5.text-primary="BTS " + abonelik.abonelik_adi
                button.float-right.btn.btn-primary.btn-round(type='submit') Ödeme Sayfasına Geç
          .pattern
            span.red
            span.indigo
            span.blue
            span.green
            span.orange
    #particles-js
      canvas.particles-js-canvas-el(width='1903' height='550' style='width: 100%; height: 100%;')
block javascript 
  script.
    function formValitdate(e){
        var form = $(e);
        form.parsley().validate();
        console.log(form.parsley().isValid())
        if(form.parsley().isValid()){
            Dynajax( 'register', 'f', ()=>{toLink("/web/login")},null,false , {id:!{abonelik.abonelik_id}} )
        }
    }
