doctype html
html(lang='en')
  head
    title=title+" | BTS" 
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='icon' href='/images/favicon.ico' type='image/x-icon')
    // VENDOR CSS
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/font-awesome.min.css')
    link(rel='stylesheet' href='/css/vivify.min.css')
    link(rel='stylesheet' href='/css/c3.min.css')
    link(rel='stylesheet' href='/css/jquery-confirm.min.css')
    // MAIN CSS
    link(rel='stylesheet' href='/css/site.min.css')
    link(rel='stylesheet' href='/css/style.css')

    link(rel='stylesheet' href='/css/toastr.min.css')
    link(rel='stylesheet' href='/css/table-form.css')
    block style
  body.theme-cyan.font-montserrat.light_version
    // Page Loader
    .page-loader-wrapper
      .loader
        .bar1
        .bar2
        .bar3
        .bar4
        .bar5
    // Overlay For Sidebars
    .overlay
    #wrapper
      include header
      include sidebar                  

    #main-content
      .container-fluid
        block content
    // Javascript
    script(src='/bundles/libscripts.bundle.js')
    link(rel='stylesheet' href='/css/select2.css')
    link(rel='stylesheet' href='/css/parsley.css')
    link(rel='stylesheet' href='/css/dropify.min.css')
    script(src='/js/parsley.min.js')
    script(src='/js/select2.js')  
    script(src='/bundles/vendorscripts.bundle.js')
    script(src='/bundles/moment.min.js')
    script(src='/bundles/moment.tr.min.js')
    script(src='/bundles/c3.bundle.js')
    script(src='/bundles/mainscripts.bundle.js')
    script(src='/js/toastr.js')
    script(src='/js/jquery.inputmask.bundle.js')
    script(src='/js/main.js')
    script(src='/scripts/jquery-confirm.min.js')
    script(src='/scripts/http.js')
    script(src='/scripts/socket.io.min.js')
    script(src='/scripts/socket.js')
    script(src='/scripts/pages/components.js')
    block javascript