doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title=title
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='icon' href='/images/favicon.ico' type='image/x-icon')
    // VENDOR CSS
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/font-awesome.min.css')
    link(rel='stylesheet' href='/css/vivify.min.css')
    // MAIN CSS
    link(rel='stylesheet' href='/css/site.min.css')
    link(rel='stylesheet' href='/css/parsley.css')
    link(rel='stylesheet' href='/css/toastr.min.css')
  body.theme-cyan.font-montserrat
    #myBar
    // Page Loader
    .page-loader-wrapper
      .loader
        .bar1
        .bar2
        .bar3
        .bar4
        .bar5
    .pattern
    block content
    // END WRAPPER
    script(src='/bundles/libscripts.bundle.js')
    link(rel='stylesheet' href='/css/select2.css')
    link(rel='stylesheet' href='/css/parsley.css')
    link(rel='stylesheet' href='/css/dropify.min.css')
    script(src='/js/select2.js')  
    script(src='/js/jquery.inputmask.bundle.js')
    script(src='/bundles/vendorscripts.bundle.js')
    script(src='/bundles/mainscripts.bundle.js')
    script(src='/js/main.js')
    script(src='/js/parsley.min.js')
    script(src='/js/toastr.js')
    script(src='/scripts/pages/components.js')
    block javascript
