doctype html
html(lang='en')
  head
    title=title+" | BTS" 
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='description' content='Oculux Bootstrap 4x admin is super flexible, powerful, clean & modern responsive admin dashboard with unlimited possibilities.')
    meta(name='keywords' content='admin template, Oculux admin template, dashboard template, flat admin template, responsive admin template, web app, Light Dark version')
    meta(name='author' content='GetBootstrap, design by: puffintheme.com')
    link(rel='icon' href='/images/favicon.ico' type='image/x-icon')
    // VENDOR CSS
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/font-awesome.min.css')
    link(rel='stylesheet' href='/css/vivify.min.css')
    link(rel='stylesheet' href='/css/c3.min.css')
    link(rel='stylesheet' href='/css/jquery-confirm.min.css')
    // MAIN CSS
    link(rel='stylesheet' href='/css/site.min.css')

    link(rel='stylesheet' href='/css/toastr.min.css')
    link(rel='stylesheet' href='/css/table-form.css')
    block style
  body.theme-cyan.font-montserrat.light_version
    // Page Loader
    .page-loader-wrapper
      .loader
        .bar1
        .bar2
        .bar3
        .bar4
        .bar5
    // Overlay For Sidebars
    .overlay
    #wrapper
      include header
      #megamenu.megamenu.particles_js
        a.megamenu_toggle.btn.btn-danger(href='javascript:void(0);')
          i.icon-close
        .container
          .row.clearfix
            .col-12
              ul.q_links
                li
                  a(href='app-inbox.html')
                    i.icon-envelope
                    span Inbox
                li
                  a(href='app-chat.html')
                    i.icon-bubbles
                    span Messenger
                li
                  a(href='app-calendar.html')
                    i.icon-calendar
                    span Event
                li
                  a(href='page-profile.html')
                    i.icon-user
                    span Profile
                li
                  a(href='page-invoices.html')
                    i.icon-printer
                    span Invoice
                li
                  a(href='page-timeline.html')
                    i.icon-list
                    span Timeline
            .col-md-4.col-sm-12
              .card.w_card3
                .body
                  .text-center
                    i.icon-picture.text-info
                    h4.m-t-25.mb-0 104 Picture
                    p Your gallery download complete
                    a.btn.btn-info.btn-round(href='javascript:void(0);') Download now
            .col-md-4.col-sm-12
              .card.w_card3
                .body
                  .text-center
                    i.icon-diamond.text-success
                    h4.m-t-25.mb-0 813 Point
                    p You are doing great job!
                    a.btn.btn-success.btn-round(href='javascript:void(0);') Read now
            .col-md-4.col-sm-12
              .card.w_card3
                .body
                  .text-center
                    i.icon-social-twitter.text-primary
                    h4.m-t-25.mb-0 3,756
                    p New Followers on Twitter
                    a.btn.btn-primary.btn-round(href='javascript:void(0);') Find more
            .col-12
              ul.list-group
                li.list-group-item
                  | Anyone send me a message
                  .float-right
                    label.switch
                      input(type='checkbox' checked='')
                      span.slider.round
                li.list-group-item
                  | Anyone seeing my profile page
                  .float-right
                    label.switch
                      input(type='checkbox' checked='')
                      span.slider.round
                li.list-group-item
                  | Anyone posts a comment on my post
                  .float-right
                    label.switch
                      input(type='checkbox')
                      span.slider.round
        #particles-js
      #rightbar.rightbar
        .body
          ul.nav.nav-tabs2
            li.nav-item
              a.nav-link.active(data-toggle='tab' href='#Chat-one') Chat
            li.nav-item
              a.nav-link(data-toggle='tab' href='#Chat-list') List
            li.nav-item
              a.nav-link(data-toggle='tab' href='#Chat-groups') Groups
          hr
          .tab-content
            #Chat-one.tab-pane.vivify.fadeIn.delay-100.active
              .chat_detail
                ul.chat-widget.clearfix
                  li.left.float-left
                    .avtar-pic.w35.bg-pink
                      span KG
                    .chat-info
                      span.message
                        | Hello, John
                        br
                        | What is the update on Project X?
                  li.right
                    img.rounded(src='/images/xs/avatar1.jpg' alt='')
                    .chat-info
                      span.message
                        | Hi, Alizee
                        br
                        |  It is almost completed. I will send you an email later today.
                  li.left.float-left
                    .avtar-pic.w35.bg-pink
                      span KG
                    .chat-info
                      span.message That's great. Will catch you in evening.
                  li.right
                    img.rounded(src='/images/xs/avatar1.jpg' alt='')
                    .chat-info
                      span.message Sure we'will have a blast today.
                .input-group.mb-0
                  .input-group-prepend
                    span.input-group-text
                      a(href='javascript:void(0);')
                        i.icon-camera.text-warning
                  textarea.form-control(type='text' row='' placeholder='Enter text here...')
            #Chat-list.tab-pane.vvivify.fadeIn.delay-100
              ul.right_chat.list-unstyled.mb-0
                li.offline
                  a(href='javascript:void(0);')
                    .media
                      .avtar-pic.w35.bg-red
                        span FC
                      .media-body
                        span.name Folisise Chosielie
                        span.message offline
                        span.badge.badge-outline.status
                li.online
                  a(href='javascript:void(0);')
                    .media
                      img.media-object(src='/images/xs/avatar3.jpg' alt='')
                      .media-body
                        span.name Marshall Nichols
                        span.message online
                        span.badge.badge-outline.status
                li.online
                  a(href='javascript:void(0);')
                    .media
                      .avtar-pic.w35.bg-red
                        span FC
                      .media-body
                        span.name Louis Henry
                        span.message online
                        span.badge.badge-outline.status
                li.online
                  a(href='javascript:void(0);')
                    .media
                      .avtar-pic.w35.bg-orange
                        span DS
                      .media-body
                        span.name Debra Stewart
                        span.message online
                        span.badge.badge-outline.status
                li.offline
                  a(href='javascript:void(0);')
                    .media
                      .avtar-pic.w35.bg-green
                        span SW
                      .media-body
                        span.name Lisa Garett
                        span.message offline since May 12
                        span.badge.badge-outline.status
                li.online
                  a(href='javascript:void(0);')
                    .media
                      img.media-object(src='/images/xs/avatar5.jpg' alt='')
                      .media-body
                        span.name Debra Stewart
                        span.message online
                        span.badge.badge-outline.status
                li.offline
                  a(href='javascript:void(0);')
                    .media
                      img.media-object(src='/images/xs/avatar2.jpg' alt='')
                      .media-body
                        span.name Lisa Garett
                        span.message offline since Jan 18
                        span.badge.badge-outline.status
                li.online
                  a(href='javascript:void(0);')
                    .media
                      .avtar-pic.w35.bg-indigo
                        span FC
                      .media-body
                        span.name Louis Henry
                        span.message online
                        span.badge.badge-outline.status
                li.online
                  a(href='javascript:void(0);')
                    .media
                      .avtar-pic.w35.bg-pink
                        span DS
                      .media-body
                        span.name Debra Stewart
                        span.message online
                        span.badge.badge-outline.status
                li.offline
                  a(href='javascript:void(0);')
                    .media
                      .avtar-pic.w35.bg-info
                        span SW
                      .media-body
                        span.name Lisa Garett
                        span.message offline since May 12
                        span.badge.badge-outline.status
            #Chat-groups.tab-pane.vivify.fadeIn.delay-100
              ul.right_chat.list-unstyled.mb-0
                li.offline
                  a(href='javascript:void(0);')
                    .media
                      .avtar-pic.w35.bg-cyan
                        span DT
                      .media-body
                        span.name Designer Team
                        span.message offline
                        span.badge.badge-outline.status
                li.online
                  a(href='javascript:void(0);')
                    .media
                      .avtar-pic.w35.bg-azura
                        span SG
                      .media-body
                        span.name Sale Groups
                        span.message online
                        span.badge.badge-outline.status
                li.online
                  a(href='javascript:void(0);')
                    .media
                      .avtar-pic.w35.bg-orange
                        span NF
                      .media-body
                        span.name New Fresher
                        span.message online
                        span.badge.badge-outline.status
                li.offline
                  a(href='javascript:void(0);')
                    .media
                      .avtar-pic.w35.bg-indigo
                        span PL
                      .media-body
                        span.name Project Lead
                        span.message offline since May 12
                        span.badge.badge-outline.status
      include sidebar                  

    #main-content
      .container-fluid
        block content
    // Javascript
    script(src='/bundles/libscripts.bundle.js')
    link(rel='stylesheet' href='/css/select2.css')
    link(rel='stylesheet' href='/css/parsley.css')
    link(rel='stylesheet' href='/css/dropify.min.css')
    script(src='/js/parsley.min.js')
    script(src='/js/select2.js')  
    script(src='/bundles/vendorscripts.bundle.js')
    script(src='/bundles/c3.bundle.js')
    script(src='/bundles/mainscripts.bundle.js')
    script(src='/js/toastr.js')
    script(src='/js/jquery.inputmask.bundle.js')
    script(src='/js/main.js')
    script(src='/scripts/jquery-confirm.min.js')
    script(src='/scripts/http.js')
    script(src='/scripts/socket.io.min.js')
    script(src='/scripts/socket.js')
    include ../components/componentjs
    block javascript